/* Media Query Manager
0-600px    : Phone
600-900px  : Tablet Portrait
900-1200   : Tablet Landscape
1200-1800  : Normal Desktop
1800px +   : Big Desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
  height: 200vh;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 59%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 56%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 56%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 53%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRightProject {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  80% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRightProject {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  80% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInLeftProject {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  80% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeftProject {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  80% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.u-center-text {
  text-align: center;
}

.nav-a-hover {
  border-bottom: 2px solid #0068FF;
}

.hidden {
  display: none !important;
}

.js--wp-0,
.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.js--wp-0.animated,
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.navBar {
  position: fixed;
  background-color: #242424;
  height: auto;
  padding: 1rem 1.5rem 1rem 6rem;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid gray;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navBar__logo-box {
  margin-right: auto;
  background-color: #121924;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: .2rem .2rem .5rem .5rem #3b3b3b;
          box-shadow: .2rem .2rem .5rem .5rem #3b3b3b;
}

.navBar__logo-box:hover .navBar__logo {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navBar__logo-box:active .navBar__logo {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.navBar__logo {
  height: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navBar__links {
  list-style: none;
}

.navBar__links li {
  display: inline-block;
  padding: 0px 2rem;
  margin-right: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navBar__links li {
    margin-right: 0rem;
  }
}

.navBar__links li a {
  display: block;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding-bottom: .5rem;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  overflow: hidden;
}

.navBar__links li a:hover {
  color: #0068FF;
  cursor: pointer;
}

.navBar__links li a::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0%;
  height: 2px;
  background: #0068FF;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navBar__links li a:hover::after {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  __links li {
    margin-right: 0rem;
  }
}

.btn {
  background-color: red;
}

.header {
  height: 100vh;
  background: linear-gradient(105deg, #f3f3f3 0%, #f3f3f3 50%, rgba(0, 0, 0, 0.5) 50%), url("../images/landingImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../images/landingImage.png");
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/landingImage.png");
    background-position-x: 900px;
    background-position-y: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url("../images/landingImage.png");
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/landingImage.png");
    background-position-x: 800px;
    background-position-y: center;
  }
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  mix-blend-mode: difference;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__text-box {
    mix-blend-mode: normal;
    width: 100%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__text-box {
    mix-blend-mode: normal;
    width: 100%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header__socialDiv {
  padding: 1rem;
  background-color: #f3f3f3;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__socialDiv {
    top: 98%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25rem;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__socialDiv {
    top: 98%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25rem;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5rem;
  }
}

.header__socialDiv a {
  height: 3rem;
  width: 100%;
}

.header__socialDiv a svg {
  height: 100%;
  width: 100%;
}

.header__socialDiv a svg:hover {
  fill: #0068FF;
}

.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  font-size: 8rem;
  display: block;
  letter-spacing: 0.1rem;
  -webkit-animation: moveInLeft .5s ease-out;
          animation: moveInLeft .5s ease-out;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .heading-primary--main {
    font-size: 7.2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading-primary--main {
    font-size: 6.8rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .heading-primary--main {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
}

.heading-primary--sub {
  font-size: 5rem;
  display: block;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  -webkit-animation: fadeIn .5s ease-out;
          animation: fadeIn .5s ease-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .heading-primary--sub {
    font-size: 4.2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading-primary--sub {
    font-size: 3.9rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .heading-primary--sub {
    font-size: 3rem;
  }
}

.section__about {
  padding: 10rem 5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #121924;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__about {
    padding: 10rem 4rem;
    gap: 5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__about {
    padding: 8rem 3rem;
    gap: 4rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__about {
    padding: 8rem 1rem;
  }
}

.section__about-img {
  height: 60vh;
  max-height: 500px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__about-img {
    width: 50%;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__about-img {
    width: 80%;
    height: 100%;
  }
}

.section__about-img img {
  height: 100%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(18, 25, 36, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(18, 25, 36, 0.4);
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__about-img img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__about-img img {
    width: 100%;
  }
}

.section__about-description {
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  align-self: baseline;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__about-description {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__about-description {
    width: 100%;
  }
}

.section__about-knowMore {
  margin-top: 1rem;
  width: 200%;
  text-align: center;
}

.fadeIn {
  -webkit-animation: fadeIn .7s ease-out;
          animation: fadeIn .7s ease-out;
}

.description__header h1 {
  font-size: 4rem;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .description__header h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .description__header h1 {
    font-size: 3rem;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .description__header h1 {
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
  }
}

.description__header h1:after {
  content: " ";
  display: block;
  background-color: #0068FF;
  text-align: center;
  height: 2px;
  width: 100px;
  margin: 1rem auto 0;
}

.about__description {
  font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about__description {
    font-size: 1.7rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about__description {
    text-align: justify;
  }
}

.about__description > * {
  margin-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about__description > * {
    margin-bottom: .8rem;
  }
}

.about__currentSong {
  font-size: 1.4rem;
}

.about__currentSong-heading {
  margin-bottom: .5rem;
}

.about__currentSong-info {
  height: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__currentSong-visualizer {
  height: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__currentSong-visualizer img {
  height: 100%;
}

.about__knowMore-button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: .7rem;
}

.about__knowMore-button:hover {
  cursor: pointer;
}

.section__project {
  padding: 7rem 0 0 0;
  background-color: #f3f3f3;
  display: -ms-grid;
  display: grid;
}

.section__project-heading {
  font-size: 3.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__project-heading {
    font-size: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__project-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__project-heading {
    font-size: 2rem;
  }
}

.section__project-heading h1:after {
  content: " ";
  display: block;
  background-color: #0068FF;
  text-align: center;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0;
}

.section__project-more {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.section__project-first {
  margin: 5rem 0 0 0;
  background-color: #7d5fff;
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__project-first {
    margin: 4rem 0 0 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__project-first {
    margin: 3rem 0 0 0;
  }
}

.section__project-second {
  background-color: #F79F1F;
}

.section__project-third {
  background-color: #000000;
  color: #f3f3f3;
}

.section__project-first,
.section__project-second,
.section__project-third {
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__project-first,
  .section__project-second,
  .section__project-third {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__project-first,
  .section__project-second,
  .section__project-third {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}

.project__first-description,
.project__second-description,
.project__third-description {
  width: 70%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project__first-description,
  .project__second-description,
  .project__third-description {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .project__first-description,
  .project__second-description,
  .project__third-description {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project__first-description,
  .project__second-description,
  .project__third-description {
    width: 90%;
  }
}

.project__first-title,
.project__second-title,
.project__third-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project__first-title,
  .project__second-title,
  .project__third-title {
    font-size: 2.7rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .project__first-title,
  .project__second-title,
  .project__third-title {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project__first-title,
  .project__second-title,
  .project__third-title {
    text-align: center;
    font-size: 2.5rem;
  }
}

.project__first-body,
.project__second-body,
.project__third-body {
  font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project__first-body,
  .project__second-body,
  .project__third-body {
    font-size: 1.8rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .project__second-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project__second-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
}

.project__first-image,
.project__second-image,
.project__third-image {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project__first-image,
  .project__second-image,
  .project__third-image {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .project__first-image,
  .project__second-image,
  .project__third-image {
    width: 70%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project__first-image,
  .project__second-image,
  .project__third-image {
    width: 80%;
  }
}

.project__first-image img,
.project__second-image img,
.project__third-image img {
  width: 100%;
}

.moveInRightProject {
  -webkit-animation: moveInRightProject .7s ease-out;
          animation: moveInRightProject .7s ease-out;
}

.moveInLeftProject {
  -webkit-animation: moveInLeftProject .7s ease-out;
          animation: moveInLeftProject .7s ease-out;
}

.project__more-button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: .7rem;
}

.project__more-button:hover {
  cursor: pointer;
}

.section__testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/corporatebackground.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/corporatebackground.jpg");
  background-position: center;
  color: #f3f3f3;
  background-attachment: fixed;
  padding: 7rem 5rem;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__testimonials {
    padding: 6rem 3rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__testimonials {
    padding: 6rem 5rem;
  }
}

.section__testimonials-heading {
  font-size: 3.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__testimonials-heading {
    font-size: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__testimonials-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__testimonials-heading {
    font-size: 2rem;
  }
}

.section__testimonials-heading h1:after {
  content: " ";
  display: block;
  background-color: #0068FF;
  text-align: center;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0;
}

.section__testimonials-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
  margin-top: 5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__testimonials-body {
    gap: 2rem;
  }
}

.section__testimonials-first, .section__testimonials-second, .section__testimonials-third {
  width: 100%;
  padding-top: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  background-color: #eeeeee1c;
  padding: 2rem;
  border-radius: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__testimonials-first, .section__testimonials-second, .section__testimonials-third {
    padding: 2rem 1rem;
  }
}

.section__testimonials-first blockquote:before,
.section__testimonials-second blockquote:before,
.section__testimonials-third blockquote:before {
  content: "\201C";
  display: block;
  font-size: 7rem;
  position: absolute;
  left: -5%;
  top: -5%;
}

.section__testimonials-first blockquote,
.section__testimonials-second blockquote,
.section__testimonials-third blockquote {
  margin-top: 12%;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.5rem;
  padding: 1.5rem;
  position: relative;
}

.section__testimonials-first cite,
.section__testimonials-second cite,
.section__testimonials-third cite {
  font-size: 1.5rem;
  margin-top: 2rem;
  display: block;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section__testimonials-first cite img,
.section__testimonials-second cite img,
.section__testimonials-third cite img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 2rem;
}

.section__blogs {
  padding: 7rem;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__blogs {
    padding: 6rem 3rem;
  }
}

.section__blogs-heading {
  font-size: 3.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__blogs-heading {
    font-size: 3rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .section__blogs-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .section__blogs-heading {
    font-size: 2rem;
  }
}

.section__blogs-heading h1:after {
  content: " ";
  display: block;
  background-color: #0068FF;
  text-align: center;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0;
}

.section__blogs-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 5rem;
}

.section__blogs-blogCard {
  width: 36rem;
  height: 25rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section__blogs-more {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.blogCard__imgContainer {
  width: 100%;
  height: 83%;
}

.blogCard__imgContainer img {
  width: 100%;
  height: 100%;
}

.blogCard__title {
  padding: 1rem;
  text-align: center;
}

.blogCard__title p {
  font-size: 1.5rem;
}

.blogs__more-button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: .7rem;
}

.blogs__more-button:hover {
  cursor: pointer;
}

.section__contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background: url("../images/bg_canvas-dark.jpg");
  color: #f3f3f3;
}

.section__contact-heading {
  font-size: 3.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.section__contact-heading h1:after {
  content: " ";
  display: block;
  background-color: #0068FF;
  text-align: center;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0;
}

.section__contact-body {
  padding: 4rem;
}

.section__contact-bodyDescription {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.section__contact-bodyForm {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: right;
}

.section__contact-bodyForm input:nth-child(1),
.section__contact-bodyForm input:nth-child(2),
.section__contact-bodyForm input:nth-child(3),
.section__contact-bodyForm .contactTextArea {
  margin-bottom: 2rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: white;
  border-bottom: 2px solid transparent;
}

.section__contact-bodyForm input:nth-child(1):focus,
.section__contact-bodyForm input:nth-child(2):focus,
.section__contact-bodyForm input:nth-child(3):focus,
.section__contact-bodyForm .contactTextArea:focus {
  outline: none;
  border-bottom: 2px solid green;
}

.section__contact-bodyForm input:nth-child(1):focus:invalid,
.section__contact-bodyForm input:nth-child(2):focus:invalid,
.section__contact-bodyForm input:nth-child(3):focus:invalid,
.section__contact-bodyForm .contactTextArea:focus:invalid {
  border-bottom: 2px solid red;
}

.section__contact-bodyForm input:nth-child(1),
.section__contact-bodyForm input:nth-child(2),
.section__contact-bodyForm input:nth-child(3) {
  height: 4rem;
}

.section__contact-bodyForm input:nth-child(1),
.section__contact-bodyForm input:nth-child(2),
.section__contact-bodyForm input:nth-child(3),
.section__contact-bodyForm .contactTextArea {
  width: 100%;
}

.section__contact-bodyForm .contactTextArea {
  height: 15rem;
  resize: none;
}

.section__contact-bodyForm input:nth-child(5) {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f3f3f3;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: .7rem;
}

.section__contact-bodyForm input:nth-child(5):focus {
  outline: none;
}

.section__contact-bodyForm input:nth-child(5):hover {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 656px) {
  .section__contact-map {
    height: 63rem;
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  color: #0068FF;
}
/*# sourceMappingURL=main.css.map */