@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRightProject {
    0% {
        transform: translateX(200px);
    }
    80% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveInLeftProject {
    0% {
        transform: translateX(-200px);
    }
    80% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}