*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10/16
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;

    @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: 59%;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 56%;
    }

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        font-size: 56%;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 53%;  
    }

    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 50%;
    }

    height: 200vh;
}

body {
    box-sizing: border-box;
    position: relative;
}

// ::selection {
//     background-color: $color-primary;
//     color: white;
// }
