.u-center-text {
    text-align: center;
}

.nav-a-hover {
    border-bottom: 2px solid $color-primary;
}

.hidden {
    display: none !important;
}

.js--wp-0,
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    transition-duration: .7s;
}

.js--wp-0.animated,
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
    transition-duration: .7s;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}