.section__about {
    padding: 10rem 5rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    justify-content: center;
    color: $color-black;

    &-img {
        height: 60vh;
        justify-self: center;
    }

    &-img img {
        height: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .4);
    }

    &-description {
        width: 80%;
    }

    &-knowMore {
        margin-top: 1rem;
        width: 200%;
        text-align: center;
    }
}
        
.fadeIn {
     animation: fadeIn .7s ease-out;
}

.section__about-description {
    display: grid;
}

.description__header h1 {
    font-size: 4rem;
    display: inline-block;

    &:after {
        content: " ";
        display: block;
        background-color: $color-primary;
        text-align: center;
        height: 2px;
        width: 100px;
        margin: 1rem auto 0;
    }
}

.about__description {
    font-size: 2rem;

    & > * {
        margin-bottom: 1rem;
    }
}

.about__currentSong {
    font-size: 1.4rem;

    &-heading {
        margin-bottom: .5rem;
    }

    &-info {
        height: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
    }

    &-visualizer {
        height: 2rem;
        justify-self: center;
    }

    &-visualizer img{
        height: 100%;
    }
}

.about__knowMore-button {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 3.5rem;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: .7rem;

    &:hover {
        cursor: pointer;
    }
}