.section__blogs {
    padding: 7rem;
    display: grid;

    @media (min-width: 320px) and (max-width: 480px) {
        padding: 6rem 3rem;
    }

    &-heading {
        font-size: 3.5rem;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 3rem;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            font-size: 2.5rem;
        }

        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 2rem;
        }

        & h1:after {
            content: " ";
            display: block;
            background-color: $color-primary;
            text-align: center;
            height: 2px;
            width: 100px;
            margin: 1.5rem auto 0;
        }
    }

    &-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
        gap: 5rem;
    }

    &-blogCard {
        width: 36rem;
        height: 25rem;
        justify-self: center;
    }

    &-more {
        margin-top: 5rem;
        width: 100%;
        text-align: center;
    }
}

.blogCard__imgContainer {
    width: 100%;
    height: 83%;

    & img {
        width: 100%;
        height: 100%;
    }
}

.blogCard__title {
    padding: 1rem;
    text-align: center;

    & p {  
        font-size: 1.5rem;
    }
}

.blogs__more-button {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 3.5rem;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: .7rem;

    &:hover {
        cursor: pointer;
    }
}