.section__work {
    padding: 10rem 5rem;
    background-color: $color-white;
    // height: auto;
    // width: 100%;
    display: grid;

    &-heading {
        font-size: 3rem;
        // background-color: purple;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

.section__work-first {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #7d5fff;

    & > * {
        width: 70%;
        display: grid;
        // background-color: red;
        justify-self: center;
    }
}

.work__first-description {
    
}


.section__work-second {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: yellow;
}


.section__work-third {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: pink;
}