.section__project {
    padding: 7rem 0 0 0;
    background-color: $color-white;
    display: grid;

     @media (min-width: 481px) and (max-width: 767px) {
        padding: 11rem 0 0 0;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        padding: 8rem 0 0 0;
    }

    &-heading {
        font-size: 3.5rem;
        display: grid;
        justify-content: center;
        align-items: center;

        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 3rem;
        }

        & h1:after {
            content: " ";
            display: block;
            background-color: $color-primary;
            text-align: center;
            height: 2px;
            width: 100px;
            margin: 1.5rem auto 0;
        }
    }

    &-more {
        margin-top: 5rem;
        width: 100%;
        text-align: center;
    }

    
    & > a {
        text-decoration: none;
        color: inherit;
    }
}

.section__project-blockFirst {
    background-color: #7d5fff;

    &--btnContainer button {
        background-color: darken($color: #7d5fff, $amount: 10);
    }
}
.section__project-blockSecond {
    background-color: #F79F1F;

    &--btnContainer button {
        background-color: darken($color: #F79F1F, $amount: 10);
    }
}

.section__project-blockThird {
   background-color: #000000;
    color: $color-white;

    &--btnContainer button {
        background-color: lighten($color: #000000, $amount: 10);
    }
}

.section__project-blockFirst,
.section__project-blockSecond,
.section__project-blockThird {
    width: 100%;
    height: 100%;
    margin: 5rem 0;

    @media (min-width: 481px) and (max-width: 767px) {
        margin: 4rem 0;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        margin: 3rem 0;
    }

    & .main {
        max-width: $max-width;
        margin: 0 auto;
        width: 100%;
	}

    &--btnContainer {
        text-align: center;

        & button {
            color: $color-white;
            text-transform: uppercase;
            border: none;
            padding: 1.5rem 3.5rem;
            font-size: 1.5rem;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: .7rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.section__project-first,
.section__project-second,
.section__project-third  {
    // max-width: $max-width;
    // margin:0 auto;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    align-items: center;
    overflow: hidden;

    @media (min-width: 481px) and (max-width: 767px) {
        display: grid;
        grid-template-columns:1fr;
        gap: 6rem;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        display: grid;
        grid-template-columns:1fr;
        gap: 6rem;
    }
}

.project__first-description,
.project__second-description,
.project__third-description {
    width: 70%;
    justify-self: center;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 90%;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        width: 90%;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        width: 90%;
    }
}

.project__first-title,
.project__second-title,
.project__third-title {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 3rem;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 2.7rem;
        padding-bottom: 2rem;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        text-align: center;
        font-size: 2.5rem;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        text-align: center;
        font-size: 2.5rem;
    }
}

.project__first-body,
.project__second-body,
.project__third-body {
    font-size: 2rem;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.8rem;
    }
}

.project__second-image {
    @media (min-width: 481px) and (max-width: 767px) {
        grid-row: 2 / span 1;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        grid-row: 2 / span 1;
    }
}

.project__first-image,
.project__second-image,
.project__third-image  {
    width: 70%;
    display: grid;
    justify-self: center;
    align-self: center;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 90%;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        width: 70%;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        width: 80%;
    }

    & img {
        width: 100%;
    }
}

.moveInRightProject {
     animation: moveInRightProject .7s ease-out;
}

.moveInLeftProject {
    animation: moveInLeftProject .7s ease-out;
}

.project__more-button {
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 3.5rem;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: .7rem;

    &:hover {
        cursor: pointer;
    }
}