.section__testimonials {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('../images/corporatebackground.jpg');
    background-position: center;
    color: $color-white;
    background-attachment: fixed;
    padding: 7rem;
    display: grid;

    @media (min-width: 768px) and (max-width: 1024px) {
         padding: 8rem 7rem;
    }

    @media (min-width: 481px) and (max-width: 767px) {
         padding: 8rem 7rem;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        padding: 8rem 5rem;
    }

    &-heading {
        font-size: 3.5rem;
        display: grid;
        justify-content: center;
        align-items: center;

        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 3rem;
        }

        & h1:after {
            content: " ";
            display: block;
            background-color: $color-primary;
            text-align: center;
            height: 2px;
            width: 100px;
            margin: 1.5rem auto 0;
        }
    }

    & .main {
		max-width: $max-width;
		margin: 0 auto;
		width: 100%;
	}

    &-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 5rem;
        margin-top: 5rem;
    }

    &-first,
    &-second,
    &-third {
        width: 100%;
        justify-self: center;
        display: grid;
        background-color: #eeeeee1c;
        padding: 2rem 5rem;
        border-radius: 1rem;

        @media (min-width: 768px) and (max-width: 1024px) {
            padding: 2rem 3rem;
        }
    }

    &-first blockquote:before,
    &-second blockquote:before,
    &-third blockquote:before {
        content: "\201C";
        display: block;
        font-size: 7rem;
        position: absolute;
        left: -5%;
        top: -5%;
    }

    &-first blockquote,
    &-second blockquote,
    &-third blockquote {
        margin-top: 12%;
        font-size: 1.5rem;
        font-style: italic;
        line-height: 2.5rem;
        padding: 1.5rem;
        position: relative;

        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: 5%;
        }

        @media (min-width: 320px) and (max-width: 480px) {
            margin-top: 14%;
        }
    }

    &-first cite,
    &-second cite,
    &-third cite  {
        font-size: 1.5rem;
        margin-top: 2rem;
        display: block;
        align-self: end;
    }
    
    &-first cite img,
    &-second cite img,
    &-third cite img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 2rem;
    }
}